/* Page Load Animation */
body {
  animation: fadeIn 1.2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #6366f1;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #4f46e5;
  transform: scale(1.1);
  box-shadow:0 0 20px #6366f1;
}
.about {
  padding: 60px 20px;
  text-align: center;
  background-color: #020617;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about p {
  max-width: 600px;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
  color: #cbd5f5;
}
.skills {
  padding: 60px 20px;
  text-align: center;
}

.skills h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.skill-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.skill {
  background-color: #1e293b;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 16px;
}
.projects {
  padding: 60px 20px;
  text-align: center;
  background-color: #020617;
}

.projects h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.project-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.project {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

.project h3 {
  margin-bottom: 10px;
}
.contact {
  padding: 60px 20px;
  text-align: center;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  color: #cbd5f5;
}
/* Mobile Responsive */
@media (max-width: 768px) {

  h1 {
    font-size: 28px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
  }

  .skill-list,
  .project-list {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
  background-color: #1e293b;
  padding: 25px;
  width: 220px;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.project-card:hover {
  transform: translateY(-15px) scale(1.05);
  box-shadow: 0 15px 30px rgba(99,102,241,0.4);
}
  }






